<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <akka>
    <hocon>
      <![CDATA[
        akka {            
          log-config-on-start = off            
          loglevel = WARNING

          actor {             
            provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
            debug {
              receive = on
              autoreceive = on
              lifecycle = on
              event-stream = on
              unhandled = on
            } 
          remote {
            helios.tcp {
  	          transport-class = "Akka.Remote.Transport.Helios.HeliosTcpTransport, Akka.Remote"
  	          transport-protocol = tcp
  	          port = 0
  	          hostname = "127.0.0.1"
            }
          }
        }
      ]]>
    </hocon>
  </akka>
  
</configuration>