<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>

  <akka>
    <hocon>
      <![CDATA[
        akka {            
          log-config-on-start = off            
          loglevel = WARNING
          actor {             
            provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
            debug {
              receive = on
              autoreceive = on
              lifecycle = on
              event-stream = on
              unhandled = on
            }
            serializers {
              wire = "Akka.Serialization.WireSerializer, Akka.Serialization.Wire"
            }
            serialization-bindings {
              "System.Object" = wire
            }
            deployment{
              /LogProcessorCoordinator{
            #    remote = "akka.tcp://LogProcessorSystem@localhost:8090"
            ##    router = round-robin-pool
            ##    resizer  {
            ##      enabled = on
            ##      lower-bound = 3
            ##      upper-bound = 5
            ##    }
              }
            }
          }
          #remote {
          #  helios.tcp {
  	      #    transport-class = "Akka.Remote.Transport.Helios.HeliosTcpTransport, Akka.Remote"
  	      #    transport-protocol = tcp
  	      #    port = 0
  	      #    hostname = "localhost"
          #  }
          }
        }
      ]]>
    </hocon>
  </akka>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>