<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <akka>
    <hocon>
      <![CDATA[
          akka {
            loglevel = DEBUG
            actor {
              provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
              debug {
                receive = on
                autoreceive = on
                lifecycle = on
                event-stream = on
                unhandled = on
              }
            }
            remote {
              helios.tcp {
  	            transport-class = "Akka.Remote.Transport.Helios.HeliosTcpTransport, Akka.Remote"
  	            transport-protocol = tcp
  	            port = 8092
  	            hostname = "127.0.0.1"
              }
            }
          }
          akka.persistence {
            publish-plugin-commands = on
            journal {
                plugin = "akka.persistence.journal.mongodb"
                mongodb {
                    class = "Akka.Persistence.MongoDb.Journal.MongoDbJournal, Akka.Persistence.MongoDb"
                    connection-string = "mongodb://localhost:27017/PersistenceByEntity"
                    collection = "EventJournal"
                }
            }
            snapshot-store {
                plugin = "akka.persistence.snapshot-store.mongodb"
                mongodb {
                    class = "Akka.Persistence.MongoDb.Snapshot.MongoDbSnapshotStore, Akka.Persistence.MongoDb"
                    connection-string = "mongodb://localhost:27017/PersistenceByEntity"
                    collection = "SnapshotStore"
                }
            }  
        }
      ]]>
    </hocon>
  </akka>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Google.ProtocolBuffers" publicKeyToken="55f7125234beb589" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.4.1.555" newVersion="2.4.1.555" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>