<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <akka>
    <hocon>
      <![CDATA[
        akka {            
          log-config-on-start = off            
          loglevel = WARNING

          actor {              
            debug {
              receive = on
              autoreceive = on
              lifecycle = on
              event-stream = on
              unhandled = on
            }
              
            deployment{
              /NotificationCoordinator/SmsNotificationCoordinator/smsSender{
                router = round-robin-pool                  
                resizer {
                  enabled = on
                  lower-bound = 1
                  upper-bound = 1                      
                }                  
              }
              /NotificationCoordinator/EmailNotificationCoordinator/emailSender{
                router = round-robin-pool                  
                resizer {
                  enabled = on
                  lower-bound = 3
                  upper-bound = 5                      
                }                  
              }
            }
          }            
        }
      ]]>
    </hocon>
  </akka>
</configuration>